1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
* 
'hello'
-87.8
- 
/ 
+	
6

In [1]:
# Answer

# * -> expression
a = 4 * 5
# 'hello' -> values
# -87.8 -> values
# - -> expression
b= 5 - 4
# / -> expression
c = 4 / 5
# + -> expression
d = 4 + 5
# 6 -> values 
a, b, c, d

(20, 1, 0.8, 9)

2. What is the difference between string and variable?

In [2]:
# Answer 

# 1. String -> it is a data type and represented in single or double quotes.
# 2. variable -> it is used to save values in memory.
# example 
something = 'hello world'
# something -> variable 
# 'hello world' -> string 
something

'hello world'

3. Describe three different data types.

In [ ]:
# Answer 

# 1. String
# It is represented in single or double quotes. 
a = 'hello world'

# 2. Numeric
# It is represented in int, float, complex. 
b = 50
c = 50.00
d = 50+5j

# 3. Boolean
# It is represented in two values either False or True. 
e = True
f = False 

a, b, c, d, e, f

4. What is an expression made up of? What do all expressions do?

In [3]:
# Answer 

# expression is made for to do some sort of operations like 
# Arithmetic operations
a = 1 + 2
b = 1 - 2
c = 1 * 2
d = 1 / 2
e = 1 // 2
f = 1 % 2

# Relational operations 
g = 2
h = 3 

i = g > h
j = g < h
k = g >= h
l = g <= h
m = g != h

# Logical operations 

n = True and False 
o = True or False 
p = not False 

a, b, c, d, e, f, g, h, i, j, k, l, m, n, o, p

(3, -1, 2, 0.5, 0, 1, 2, 3, False, True, False, True, True, False, True, True)

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

In [4]:
# Answer 

# The expression is used to perform some operation and it would produce meaningful output
# The statement is nothing but we are assigning a value to a variable to store it in memory location. As above example shows the statement 
spam = 10 
spam

10

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [5]:
# Answer

bacon = 22
bacon + 1

7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

In [7]:
# Answer 

'spam' + 'spamspam'

'spamspamspam'

In [8]:
'spam' * 3

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

In [9]:
# Answer 

# variable must be starts with lower case a-z or upper case A-Z or underscores (_) but it should not start from numbers
age = 10
Age = 20
_Age = 30 

age, Age, _Age

(10, 20, 30)

9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [10]:
# Answer 

a = '20'
#integer 
int_value = int(a)

#floating-pint 
float_value = float(a)

#string 
b = 10
string_value = str(b)

int_value, float_value, string_value

(20, 20.0, '10')

10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

In [11]:
# Answer

'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'